body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.gallery {
    width: 80%;
    margin: auto;
}

/* Мінімальна висота + placeholder */
img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    background-color: #f0f0f0;
    margin: 20px 0;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}

/* Клас після завантаження */
img.loaded {
    opacity: 1;
}

button {
    padding: 10px 20px;
    margin: 20px;
    cursor: pointer;
}